.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.top, .bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.card {
    width: 200px;
    flex-grow: 1;
    min-height: 120px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.cardIn {
    width: 90%;
}